body {
    color: white;
    background-color: #464646;
    background: linear-gradient(
        138deg,
        rgba(80, 80, 80, 0.5) 0%,
        rgba(80, 63, 89, 0.5) 50%,
        rgba(105, 75, 115, 0.5) 100%
    ) !important;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: block;

    #root {
        display: inline-block;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

.title-card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    .title-flag {
        z-index: 1;
        position: absolute;
        width: 256px;
        height: 48px;
        transform: rotate(-45deg);

        opacity: 0.5;

        &.trans {
            left: -132px;
        }

        &.nb {
            left: -64.5px;
        }

        &.genderqueer {
            left: -13px;
        }
    }

    .title-content {
        &,
        * {
            z-index: 5;
        }
    }
}

.title-nameplate {
    width: calc(100% - 64px);
    margin-top: -16px;
    background-color: rgb(36,36,36, 0.75);
}

.layout-stack {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    width: 100%;
    background-color: rgb(36,36,36, 0.5);

    .scene-manager {
        width: 100%;
        height: 100%;
        display: inline-block;

        .scene {
            width: 100%;
            height: 100%;
        }
    }
}
